# build
include pyproject.toml setup.py MANIFEST.in

# documentation
include README.md COPYING NEWS
include COPYING
include NEWS
graft doc

# source
recursive-include mididings *.py

# extension source
recursive-include src SConstruct *.hh *.cc

# tests
recursive-include tests *.py

# CLI scripts
graft scripts

# exclude all VCS/CI files/directories
exclude .gitignore
